<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/dashboard.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <div class="contain" style="width: 60vw;">
        <div class="card" style="width: 100%;" >
          <div id="boximg">
            <img id="img" src="/<%= pic %>.jpg" class="card-img-top" alt="foto profile">
          </div>
          <div class="card-body">
            <h1 class="card-title">hi <%= fname %> <%= lname %></h1>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
            <div class="boxcontainer">
              <form action="/pic" method="post">
                <input type="text" value="pink" name="pict" style="display: none;">
                <button type="submit">pink</button>
              </form>
              <form action="/pic" method="post">
                <input type="text" value="red" name="pict" style="display: none;">
                <button type="submit">red</button>
              </form>
              <form action="/pic" method="post">
                <input type="text" value="green" name="pict"  style="display: none;">
                <button type="submit">green</button>
              </form>
              <form action="/pic" method="post">
                <input type="text" value="blue" name="pict" style="display: none;">
                <button type="submit">blue</button>
              </form>
            </div>
          <ul class="list-group list-group-flush">
            <a href="/logout"><li class="list-group-item">Logout</li></a>
            <a href="/update"><li class="list-group-item">Update Password</li></a>
            <a href="/showpost"><li class="list-group-item">Tweets</li></a>
          </ul>
        </div>
    </div>


  </body>
</html>

