<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/editwitpage.css' />
    <title>Document</title>
</head>
<body>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <section class="form">
                <div class="close-head">
                    <h2>Edit a Tweet</h2>
                    <span class="close"><a href="/showpost">&times;</a> </span>
                </div>
                    <form autocomplete="off" action="/editwit" method="POST">
                        <input style="display: none;" value="<%= data.id %>" type="text" class="button" id="id" name="id" placeholder="id">
                        <input value="<%= data.title %>"  placeholder="Title" type="text" id="title" name="title">
                        <textarea placeholder="Description" type="text" id="description" name="description"><%= data.description %></textarea>
                        <button onclick="check()" id="btntweet" type="submit">Edit Post</button>
                    </form>
            </section>
        </div>
    </div>

</body>
</html>