<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel='stylesheet' href='/index.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body>
  <div class="container">
    <div class="background">fill</div>
    <div class="text">
      <div class="shadowtext">
        <h1>Welcome to SYNRGY!</h1>
        <h1>Welcome to SYNRGY!</h1>
      </div>
      <div class="wrapper">
        <div class="btns">
          <a href="/register">Register</a>
          <a href="/login">Login</a>
        </div>
      </div>
    </div>

  </div>
  <script>
    const buttons = document.querySelectorAll("a");
    buttons.forEach((button) => {
      button.onclick = function(e){
        let x = e.clientX - e.target.offsetLeft;
        let y = e.clientY - e.target.offsetTop;
        let ripple = document.createElement("span");
        ripple.style.left = `${x}px`;
        ripple.style.top = `${y}px`;
        this.appendChild(ripple);
        setTimeout(function(){
          ripple.remove();
        }, 600); // 1second = 1000ms
      }
    });
 </script>
</body>
</html>