<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body>
      <div class="main">
        <p class="sign" align="center">Sign in</p>

        <form class="form1" action="/login" method="POST">
          <input class="un " type="text" id="email" name="email" type="text" align="center" placeholder="Email">
          <input class="pass" type="password" align="center" id="password" name="password" placeholder="Password">
          <button class="submit" type="submit">Login</button>
          <p class="register" align="center"><a href="/register">Register</p>
        </form>
      </div>

  </body>
</html>
