<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="/register.css" />
  </head>

  <body>
      <div class="main">
        <p class="sign" align="center">Register</p>
        <form class="form1" action="/register" method="POST">
          <input class="un" type="email" id="email" name="email" type="text" align="center" placeholder="Email">
          <input class="pass" type="password" align="center" id="password" name="password" placeholder="Password">
          <input class="un" type="text" align="center" id="first_name" name="first_name" placeholder="First Name">
          <input class="un" type="text" align="center" id="last_name" name="last_name" placeholder="Last Name">
          <button class="submit" type="submit">Register</button>
          <p align="center">Have Account? <a class="register"  href="/login">Login</a></p>
          <p align="center"><a class="register"  href="/">Home</a></p>
        </form>
      </div>
  </body>
</html>
