<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel='stylesheet' href='/showpost.css' />

</head>
<body>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <section class="form">
                <div class="close-head">
                    <h2>Posting a Tweet</h2>
                    <span class="close">&times;</span>
                </div>
                    <form autocomplete="off" action="/post" method="POST">
                        <input placeholder="Title" type="text" id="title" name="title">
                        <textarea placeholder="Description" type="text" id="description" name="description"></textarea>
                        <button onclick="check()" id="btntweet" type="submit">Add Post</button>
                    </form>
            </section>
        </div>
    </div>

    <div class="contain">
        <!-- <div class="divbtn"> -->
            <button id="myBtn">Post Tweet</button>
        <!-- </div> -->
        <div class="postlist">
            <div class="headtweet">
                <h1>Tweets</h1>
                <a href="/dashboard">Home</a>
            </div>
            <!-- <div class="listweet"> -->
            <% for (let i = 0; i < data.length; i++) { %>
                <% if (data[i].userid === data[i].idbody){%>
                <span style="float: right; height: 10px;">
                    <form action="/deltwit" method="POST">
                        <input style="display: none;" value="<%= data[i].id %>" type="text" name="id">
                        <!-- <input type="text" style="display: none;" value="<%= data[i].id %>" id="deltweetid" name="deltweetid" > -->
                        <button type="submit" class="btn-link" >&times;</button>
                        <!-- <a onclick="document.getElementById('delete').submit();">&times;</a> -->
                    </form>
                    <!-- <a href="/deltwit/<%= data[i].id %>">&times;</a> -->
                </span>
                <%} else {}%>

                <p class="title"><span style="color: rgb(183, 132, 230);">#</span><%= data[i].title %></p>
                <% if (data[i].userid === data[i].idbody){%>
                <span style="float: right;"><a href="/editwit/<%= data[i].id %>" >edit</a></span>
                <%} else {}%>
                <p class="description"><%= data[i].description %></p>
                <p class="user"> @<%=data[i].fname%><%=data[i].lname%></p>
                <hr>
                <% } %>
            <!-- </div> -->
        </div>
    </div>



<script>
    // Get the modal
    const modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    const btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    const span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }


    //cek tweet apakah kosong atau tidak
    const title = document.getElementById("title");
    const description = document.getElementById("description");
    const btntweet = document.getElementById("btntweet");

    function check() {
        // const titl = title.value
        console.log(document.getElementById("title").value)
        console.log(document.getElementById("description").value)
    }

    btntweet.onclick = function () {
        console.log("+======================================")
    }

    </script>
</body>
</html>