<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/update.css' />
  <title>Update</title>
</head>
<body>
    <form action="/update" method="POST" name="update password">
      <div class="header">
         <p>Update password</p>
      </div>
      <div class="input">
        <input type="password" class="button" id="password" name="password" placeholder="new password" pattern=".{8,}" required title="8 characters minimum">
        <button type="submit" class="button" id="submit" >update</button>
      </div>
      <div class="gohome"><a href="/dashboard">&times;</a></div>
      <!-- <div class="input"> -->
        <!-- <input type="password" class="button" id="passwordconfirm" name="passwordconfirm" placeholder="new password"> -->
        <!-- <button type="submit" class="button" id="submit" >update</button> -->
      <!-- </div> -->
    </form>

</body>
</html>