body {
    background-color: #F3EBF6 !important;
}

.contain {
    margin: auto;
    margin: 100px 20% 100px 20%;
    /* border: 1px solid #8C55AA; */
}

.contain a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.card {
    background-color: #FB9EC4 !important;
    border-radius: 70px;
}

.boxcontainer {
    display: flex;
    align-content: center;
    justify-content: center;
    /* flex-wrap: wrap; */
  }
  
  .boxcontainer form {
    flex-grow: 1;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }
  
  .boxcontainer form button{
    width: 80%;
      border: none;
      outline: none;
  }