body {
  background-color:white;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  background-image: url('./background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* background-position: 50% 50%; */
  /* background-size: auto; */
  height: 100vh;
}

.container .text {
  grid-column: 1;
  grid-row: 1;
  z-index: 10;
  text-align: center;
  margin: auto;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  
}

.container .text h1 {
  font-size: 60px;

}

.container .text a {
  color: white;
  font-size: 30px;
}

.background {
    /* height: ; */
    width: auto;
    overflow: hidden;
    grid-row: 1;
    grid-column: 1;
    z-index: -10;
  }

  .wrapper{
    /* background: #fff; */
    padding: 20px 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  }
  .wrapper .text{
    font-size: 35px;
    font-weight: 600;
  }
  .wrapper p{
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
  .wrapper .btns{
    display: flex;
    margin: 30px 0 20px 0;
  }
  .btns a{
    position: relative;
    margin: auto;
    height: 60px;
    width: 200px;
    display: block;
    line-height: 60px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  }
  .btns a:first-child{
    background: linear-gradient(-90deg, #8C55AA, #e85a19);
  }
  .btns a:last-child{
    background: linear-gradient(90deg, #8C55AA, #0162c8);
  }
  .btns a > span{
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    animation: ripples 0.6s linear infinite;
  }
  @keyframes ripples {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0.5;
    }
    100% {
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }

  .shadowtext {
    display: grid;
  }

  .shadowtext h1{
    /* color: black; */
    grid-row: 1;
    grid-column: 1;
  }

  .shadowtext h1:nth-child(1) {
    color: black;
    margin-top: 45px;
    margin-left: 10px;
  }

  .shadowtext h1:nth-child(2) {
    color: white;
  }