body {
    background-color: #F3EBF6;
    margin: 0;
    pad: 0;
    font-family: 'Roboto', sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }
  
  .form {
      /* position: absolute;
      top: 50%;
      left: 50%; */
      background: #fff;
      width: auto;
      /* margin: -140px 0 0 -182px; */
      padding: 40px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  .form h2 {
      /* margin: 0 0 20px; */
      line-height: 1;
      color: #fd569c;
      font-size: 18px;
      font-weight: 400;
      flex: 10;
  }
  
  .close-head {
      display: flex;
      margin-bottom: 15px;
  }
  
  .close {
    color: grey;
    font-size: 28px;
    font-weight: bold;
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: auto;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .form input, .form textarea {
      outline: none;
      display: block;
      width: 100%;
      margin: 0 0 20px;
      padding: 10px 15px;
      border: 1px solid #ccc;
      color: black;
      font-family: "Roboto";
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: 0.2s linear;
      font-family: 'Roboto', sans-serif;

  }
      .form input:focus, .form textarea:focus {
        /* color: #333; */
        border: 1px solid #FB9EC4;
  }
    
  .form button {
      text-decoration: none;
      cursor: pointer;
      background: #FB9EC4;
      width: 100%;
      padding: 10px 15px;
      border: 0;
      color: #fff;
      font-family: "Roboto";
      font-size: 14px;
      font-weight: bold;
      width: 40%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin: auto;
      font-family: 'Roboto', sans-serif;
    }
  

  .form button:hover {
    background: #ff3a8c;
  }

  .contain {
      display: flex;
      max-width: 1300px;
      min-width: 800px;
      justify-content: center;
      align-items: flex-start;
  }

  #myBtn {
      flex: 1;
      /* margin-top: 74px; */
      margin: 54px 20px 0 20px ;
      height: 50px;
      text-align: center;
      font-size: 20px;
      background-color: #8C55AA;
      border: 2px solid transparent;
      border-radius: 20px;
      color: white;
  }

  .contain div:nth-child(2) {
      margin: 50px 30px 0 0;
      padding: 0 20px 20px 20px;
      flex: 3;
      background-color: white;
      border: 1px solid rgb(199, 199, 199);
      border-radius: 5px;
      box-shadow: 5px 10px #bbbbbb;
  }

  #myBtn {
      width: 100%;
  }

.postlist hr {
    color: white;
}

.postlist .title {
    /* background-color: ?black; */
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.postlist .description {
    margin-top: 0;
    margin-bottom: 0;
}

.postlist span a{
    margin-top: 0;
    text-decoration: none;
}

.postlist .user {
    /* background-color: red; */
    margin-top: 0;
    font-size: smaller;
    color: #8e4eb1;
}



.headtweet {
    display: flex;
    /* padding-bottom: 0; */

}

.headtweet h1 {
    flex: 4;
    /* padding-bottom: 0; */
}

.headtweet a {
    flex: 1;
    /* text-align: center; */
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: blanchedalmond;
    padding: 10px;
    text-decoration: none;
}


@media only screen and (min-width: 1297px) {
    .contain {
        margin-left: 10vw;
        margin-right: 10vw;
    }
  }

  .btn-link {
    border: none;
    margin-top: 0 !important;
    text-decoration: none;
    outline: none;
    background: none;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

#delete:hover {
    cursor: pointer;
}

#delete {
    margin-top: 7px;
}