
body {
  font-family: 'Lato', sans-serif;
  background: #ff89ce;
    color: #FDFCFB;
    text-align: center;
  }

form {
    width: 450px;
    margin: 17% auto;
  }
  
  
  .header {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  
  .input {
    display: flex;
    align-items: center;
  }
  
  
  .button {
    height: 44px;
    border: none;
  }
  
    
  #password {
    width: 75%;
    background: #FDFCFB;
    font-family: inherit;
    color: #737373;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
    font-size: 20px;

  }
  
  
  #submit {
    width: 25%;
    height: 46px;
    background: #E86C8D;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    letter-spacing: 1px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background .3s ease-in-out;
    font-size: 20px;
  }
    
  
  #submit:hover {
    background: #d45d7d;
  }
    
  
  input:focus {
    outline: none;
    outline: 2px solid #E86C8D;
    box-shadow: 0 0 2px #E86C8D;
  }

.gohome {
    text-decoration: none;
    margin: 20px;
}

.gohome a{
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
}

.gohome a:hover {
    color: rgb(255, 58, 58);
}